	<br><br><%= image_tag("intense1.jpg") %><br><hr>

		<div id="PUG">
			<%= form_for Match.new do |f| %>
				<%=f.select :sport, options_for_select([["Select sport", ""], "Tennis", "Basketball"]) %><br>
				<%=f.select :position, options_for_select([["Select position", ""], "PG", "SG", "SF", "PF", "C"]) %>
				<%=f.select :position2, options_for_select([["Select position", ""], "PG", "SG", "SF", "PF", "C"]) %>
				<%= f.hidden_field :user_id, value:current_user.id%><br><br>
				<%=f.submit "Game On", class: "Game-on" %>
			<% end %>
		</div>

	<hr><%= image_tag("intense2.jpg") %>