<div id="PUG">

	<div id="mike">
	<%= image_tag("intense1.jpg") %>
	</div><br>

</div><br><br>

		<div id="words1">
			
			<%= form_for :location, url: '/locations' do |location| %>
				<div class="dropdown">
					<div id="ss">
				  <%=location.select :sport, options_for_select([["1. Select sport", ""], "Tennis", "Basketball", "Sumo Wrestling", "Running"]), class: "dropdown-menu" %>
				  </div><br>

				  <div id="sp">
					<%=location.select :position, options_for_select([["2. Select position", ""], "PG", "SG", "SF", "PF", "C"]) %>
				  <%=location.select :sport, options_for_select([["Select sport", ""], "Tennis", "Basketball", "Sumo Wrestling", "Running"]), class: "dropdown-menu" %>
				  </div>

				  <div id="sp">
					<%=location.select :position, options_for_select([["Select position", ""], "PG", "SG", "SF", "PF", "C"]) %>
					</div>

					<div id="spn">
					<%=location.select :position2, options_for_select([["Select position", ""], "PG", "SG", "SF", "PF", "C"]) %>
					</div><br>
				</div>

				<%= location.hidden_field :user_id, value:current_user.id%>
				<%= location.hidden_field :username, value:current_user.username%>
					
				<div class="form-group"></div>		
			  	3. Zip code/IP Address:<br><%= location.text_field :address, class: "form-control" %><br><br><br>
			
				<%= location.hidden_field :user_id, value:current_user.id%>
				<%= location.hidden_field :username, value:current_user.username%><br><br>
					
				<div class="form-group"></div>		
			  Zip code/IP Address:<br><%= location.text_field :address, class: "form-control" %><br><br><br>

			  <div id="nbutton">
				  <button type="button3" class="btn btn-default btn-lg">
				  <%=location.submit "Game On", class: "Game-on" %>
				  </button>
			  </div>
			<% end %>
		</div>

</div>