<div class="lcontainer">

<br><br>

	<%= form_for :location, url: '/locations' do |location| %>

  Address: <%= location.text_field :address %><br>
  Latitude: <%= location.text_field :latitude %><br>
  Longitude: <%= location.text_field :longitude %><br><br>

  <%= location.submit "Fetch Coordinates" %>

<% end %>

</div>