<div id="PUG">

	<div id="mike">
	<%= image_tag("intense1.jpg") %>
	</div><br><br>

		<div id="words1">
			<%= form_for :location, url: '/locations' do |location| %>

			  <%=location.select :sport, options_for_select([["Select sport", ""], "Tennis", "Basketball", "Sumo Wrestling", "Running"]) %><br>
				<%=location.select :position, options_for_select([["Select position", ""], "PG", "SG", "SF", "PF", "C"]) %><br>
				<%=location.select :position2, options_for_select([["Select position", ""], "PG", "SG", "SF", "PF", "C"]) %>
				<%= location.hidden_field :user_id, value:current_user.id%>
				<%= location.hidden_field :username, value:current_user.username%><br><br><br><br>
							
			  Zip code/IP Address:<br><br><%= location.text_field :address %><br><br><br>

			  <%=location.submit "Game On", class: "Game-on" %>

			<% end %>
		</div>

</div>