<div class="container">

	<div id="show">
		<div id="sumo">
			<%= image_tag("intense2.jpg") %>
		</div>

		<div id="words2">
			<%= form_for :match, url: '/matches' do |f| %>

				<h3>Nearby Players</h3><br>
					<% for location in @location.nearbys(5) %>

					  <ul> <%= link_to location.username, location %> (<%= location.distance.round(2) %> miles)
					  <input name="location.address" type="hidden" value="0" />
					  <input type="checkbox" id="location.address" name="location.address" value="1" />
					  <br>(<%= location.address %>)
					   <!-- <input type="checkbox"> --> </ul>

					  <!-- f.checkbox "Jon", :match , value: 1 -->
					  <!-- 	x = params[:match][:user5] -->
				<% end %><br>
				<div id="add">
				<button type="button2" class="btn btn-default btn-lg">
				<%= f.submit "Add to Chatroom" %></button><br><br>
			<% end %>
				</div>
		</div>

			<!-- <hr> -->

			<!-- <p>
				<strong>Zip Code/IP Address:</strong>
				<%= @location.address %>
			</p>
			<p>
				<strong>Latitude:</strong>
				<%= @location.latitude %>
			</p>
			<p>
				<strong>Longitude:</strong>
				<%= @location.longitude %>
			</p> -->

	</div>
	
</div>