<!DOCTYPE html>
<html>
<head>
  <title>Pickupgame2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.username %> | 
  	<%= link_to 'Home', '/' %> |
    <%= link_to 'Play Now', '/matches/new' %> |
    <%= link_to "Logout", '/logout' %> |
    <%= link_to "Location", '/locations/new' %> |
    <%= link_to "IP", '/sessions/index' %> 
<% else %>
  <%= link_to 'Home', '/' %> | 
  <%= link_to 'Signup', '/users/new' %> |
  <%= link_to 'Login', '/login' %> 
<% end %>

<%= yield %>

</body>

<div class="container">
	<ul class="nav nav-tabs">
	
	</ul>
</div>

</html>
