<!DOCTYPE html>
<html>
<head>
  <title>JustPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <% if current_user %>
      Signed in as <%= current_user.username %> | 
      	<%= link_to 'Home', '/' %> |
        <%= link_to "Play Now", '/locations/new' %> |
        <%= link_to "Nearby Players", '/locations/95' %> |
        <%= link_to "Logout", '/logout' %> 
    <% else %>
      <%= link_to 'Home', '/' %> | 
      <%= link_to 'Signup', '/users/new' %> |
      <%= link_to 'Login', '/login' %> 
    <% end %>
  </div>
</nav>

<%= yield %>

</body>
</html>
